@import url("normalize.css");

:root {
  --grid-border: #109ee5;
  --ship: #83a0a0;

  font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  font-weight: normal;
}
/* Default styles reset */
h1 {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

/* Main */
.title {
  margin-top: 2rem;
  text-align: center;
}

section {
  max-width: 1024px;
  margin: 0 auto;
}

.wrapper {
  margin-top: 5rem;
}

/* Grid */
#game-container {
  display: flex;
  justify-content: space-around;
  gap: 10rem;
}

.grid {
  border: solid var(--grid-border) 1px;
}

.grid-wrap,
.row,
.label-row {
  display: flex;
}

.label-row > *,
.label-column > * {
  flex: 1;
}

.game-cell {
  cursor: pointer;
}

.game-cell,
.label-cell {
  width: 2rem;
  height: 2rem;
}

.label-column {
  display: flex;
  flex-direction: column;
}

.label-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-cell:not(:last-child) {
  border-right: solid var(--grid-border) 1px;
}

.row:not(:last-child) .game-cell {
  border-bottom: solid var(--grid-border) 1px;
}

/* Ship */
.ship {
  background-color: var(--ship);
}

/* Attack status */
.game-cell {
  position: relative;
}

.game-cell.hit::before {
  content: "X";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: crimson;
}

.game-cell.missed::before {
  content: "O";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: dimgrey;
}
