@import url("normalize.css");

:root {
  --grid-border: #109ee5;

  font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  font-weight: normal;
}
/* Default styles reset */
h1 {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

/* Main */
.title {
  margin-top: 2rem;
  text-align: center;
}

section {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  margin-top: 5rem;
}

/* Grid */

#game-container {
  display: flex;
  justify-content: center;
  gap: 10rem;
}

.grid {
  border: solid var(--grid-border) 1px;
}

.grid-wrap {
  display: flex;
}

.row {
  display: flex;
}

.game-cell,
.label-cell {
  width: 2rem;
  height: 2rem;
}

.label-row {
  display: flex;
}

.label-row > * {
  flex: 1;
}

.label-column {
  display: flex;
  flex-direction: column;
}

.label-column > * {
  flex: 1;
}

.label-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-cell:not(:last-child) {
  border-right: solid var(--grid-border) 1px;
}

.row:not(:last-child) .game-cell {
  border-bottom: solid var(--grid-border) 1px;
}
